body,html
  background #faf8ef
  color #776e65
  font-family 'Clear Sans' 'Avenir', Arial, sans-serif;
  font-size 18px

.wrapper
  width 80%
  margin 100px auto
  text-align center

.tiles
  text-align left

.tile
  background #9ccc65
  height 100px
  width 100px
  margin 10px
  float left

.clear-left
  clear left

#jquery-ui-sortable
  list-style-type none
  margin 0
  padding 0

#jquery-ui-sortable li
  margin 5px
  padding 0.5em
  font-size: 15px
  font-weight bold
  cursor move

.done-true
  text-decoration: line-through
  color grey
