body,html
  background #faf8ef
  color #776e65
  font-family 'Clear Sans' 'Avenir', Arial, sans-serif;
  font-size 18px

.wrapper
  width 800px
  margin 100px auto
  text-align center

.done-true
  text-decoration: line-through
  color grey
