body,html
  background #faf8ef
  color #776e65
  font-family 'Clear Sans' 'Avenir', Arial, sans-serif;
  font-size 18px

.wrapper
  width 80%
  margin 100px auto
  text-align center

.tiles
  text-align left

.tile
  list-style-type none
  height 100px
  width 100px
  margin 10px
  padding 0.5em
  font-size 15px
  font-weight bold
  float left

.clear-left
  clear left

.tile.done-false
  background #ebf5e9
  color #558b2f

.tile.done-true
  background #558b2f
  color #ebf5e9
  text-decoration: line-through;
