doctype html
html(lang='ja' ng-app='tilist')
  head
    title tilist
    link(rel='stylesheet' type='text/css' href='./css/components.css')
    link(rel='stylesheet' type='text/css' href='./css/main.css')

  body(ng-controller='IndexCtrl')
    .wrapper
      .header
        h1 {{ title }}
        p It is a simple todo application.

        h2 tiles
        div(ng-controller='TilistCtrl')
          span {{ completed() }} completed.
          br
          span {{ remaining() }} of {{ tiles.length }} remaining.

          ul(class='tiles' ui-sortable='sortableOptions' ng-model='tiles')
            li(class='tile done-{{tile.done}}' ng-repeat='tile in tiles track by $index' ng-click='toggleTile(tile)')
              span(class='done-{{tile.done}}') {{ tile.text }}
              button(ng-click='deleteTile($index)') x

          div(class='clear-left')

          form(name='tileRegistrationForm' ng-submit='addTile()' novalidate)
            input(type='text' name='tileText' ng-model='tileText' size='40' placeholder='input tile name...' required)
            input(type='submit' value='add' ng-disabled='tileRegistrationForm.$invalid')

    script(type='text/javascript' src='./js/components.js')
    script(type='text/javascript' src='./js/main.js')
    <!-- script(type='text/javascript' src='./js/templates.js') -->
